!!!
%html{lang: "en-GB"}
  %head
    %title 3D Printing Research Lab
    %link{rel: "stylesheet", href: "../packs/styles/stylefooter.css"}
    %link{rel: "stylesheet", href: "../packs/styles/styleforms.css"}
    %link{rel: "stylesheet", href: "../packs/styles/styleheader.css"}
    %link{rel: "stylesheet", href: "../packs/styles/styles.css"}
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: "anonymous"}
    %link{href: "https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap", rel: "stylesheet"}
  %body
    .wrapper
      %header
        %nav
          .navigation
            %ul
              %li
                %a{href: "home.html"} Home
          .auth-buttons
            %button{onclick: "location.href='signup.html'"} Sign Up
            %button{onclick: "location.href='login.html'", class: "active"} Login
        .logo-title-container
          %img{src: "../packs/images/University_of_Sheffield_2022_S 1.png", alt: "University of Sheffield", class: "logo"}
          .title
            %h1#h1-1 3D PRINTING
            %h1#h1-2 RESEARCH LAB
      %main
        .login-form
          %h2 Login
          %form#loginForm
            .form-group
              %label{for: "login-email"} Email:
              %input{type: "email", id: "login-email", name: "email", required: true}
            .form-group
              %label{for: "login-password"} Password:
              %input{type: "password", id: "login-password", name: "password", required: true}
            .form-group
              %a{href: "recover_password.html", class: "recover-link"} Forgot password?
            %button{type: "submit"} Login
          %p Don't have an account? 
            %a{href: "signup.html"} Sign up here
      %footer
        .contact-info
          %h2 CONTACT INFORMATION
          %a{href: "mailto:contact@sheffield.ac.uk"} contact@sheffield.ac.uk
        .legal-links
          %p © 2024 The University of Sheffield
          %p
            %a{href: "#"} Privacy Policy
            %a{href: "#"} Terms & Conditions
