%nav
          .navigation
            %ul
              %li
                %a{href: "home.html", class: "active"} Home
          .auth-buttons
            .dropdown
              %button.profile-link
                @Your Name
                %i.fas.fa-user
              .dropdown-content
                %a{href: "myprofile.html"} View Profile
                %a{href: "home.html"} Logout